@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "glyphs";
	src:url("//static.spokanecity.org/fonts/glyphs.eot");
	src:url("//static.spokanecity.org/fonts/glyphs.eot?#iefix") format("embedded-opentype"),
		url("//static.spokanecity.org/fonts/glyphs.woff") format("woff"),
		url("//static.spokanecity.org/fonts/glyphs.ttf") format("truetype"),
		url("//static.spokanecity.org/fonts/glyphs.svg#Icon") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class*="icon2-"] {
	font-family: 'glyphs';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
    font-size: 2em;
    color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class*="icon3-"] {
	font-family: 'glyphs';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
    font-size: 1.5em;
    color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon2-logo:before {
	content: "\e017";
}

.icon3-logo:before {
	content: "\e017";
}
