* { border: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: Roboto,arial,sans-serif; font-size: 1em; line-height: 1em; margin: 0; padding: 0; vertical-align: middle; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; }
html, body, #map, #map-disabled { height: 100%; width: 100%; }
body { background-color: #fff; overflow: hidden; }
#map { position: relative; }
#map-disabled { display: none; opacity: 0.3; background-color: #000; z-index: 1002; top: 0; right: auto; bottom: auto; left: 0; }
p { line-height: 1.25em; padding: 0.25em 0.25em 0.5em; text-align: left; }
h1 { margin: 0 auto; padding: 0; font-size: 1em; line-height: 1.5em; height: 1.5em; }
textarea:focus, input:focus { outline: none; }
li { padding: 0; margin: 0 auto; }
a, button { cursor: pointer; }
    a.inactive span { color: #ccc; }

/*Content containers*/
.container { margin: 0 auto; padding: 0; position: absolute; }
.shadow1 { box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02); }
.shadow2 { box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.15); }

/*toolbar*/
.toolbar { background-color: #fff; border: 1px solid #ccc; display: block; height: 3em; line-height: 3em; width: auto; z-index: 1000; top: .5em; right: .5em; bottom: auto; left: auto; }
.toolbar-item { float: left; display: inline-block; height: 2em; line-height: 2em; margin: .5em; }
    .toolbar-item:first-child { margin: .5em 0 .5em .5em; }
    .toolbar-item:last-child { margin: .5em .5em .5em 0; }
.toolbar-button { background-color: #fff; height: 2em; line-height: 2em; padding: 0 .25em; }
    .toolbar-button:hover { background-color: #ddd; }
    .toolbar-button .text { padding-right: .25em; }

/*search bar*/
.search { background-color: #fff; border: 1px solid #ccc; display: block; height: 3em; line-height: 3em; width: auto; min-width: 20em; z-index: 1001; top: .5em; right: auto; bottom: auto; left: .5em; }
    .search div { float: left; cursor: pointer; padding: .75em .5em; position: relative; }
        .search div h1 span { padding-right: .25em; }
        .search div.search-divider { border-right: 1px solid #ccc; height: 1.5em; padding: 0; top: .75em; }
.search-input { height: 1.5em; line-height: 1.5em; width: 14em; border: none; }
.search-title { display: block; }

/**/
.panel-header { background-color: #eee; border-bottom: 1px solid #ccc; height: 3em; line-height: 3em; position: relative; }
    .panel-header h1 { height: 3em; line-height: 3em; padding: 0 .5em; }
        .panel-header h1 span { padding-right: .5em; }
.panel-close { background-color: #eee; border-bottom: 1px solid #ccc; height: 3em; line-height: 3em; text-align: center; width: 3em; position: absolute; top: 0; right: 0; bottom: auto; left: auto; }
    .panel-close button { padding: .5em; }

/*Main menu - slide out left*/
.menu { background-color: #fff; border-right: 1px solid #999; display: none; height: 100%; width: 20em; z-index: 1003; top: 0; right: auto; bottom: 0; left: 0; }
.menu-content { height: auto; margin: 0 auto; overflow: auto; padding: 1em; width: 100%; z-index: 1002; position: absolute; top: 3em; bottom: 0; left: 0; }
    .menu-content ul:first-child { padding: 0 0 .5em 0; }
    .menu-content ul:last-child { border-bottom: none; }
    .menu-content ul { border-bottom: 1px solid #ccc; padding: .5em 0; }
    .menu-content li { list-style: none; padding: 0.375em; }
        .menu-content li:hover { background-color: #ddd; }
        .menu-content li a { display: inline-block; width: 100%; color: rgba(0, 0, 0, .75); font-size: 95%; }
        .menu-content li span:first-child { width: 15%; }
        .menu-content li span:last-child { width: 85%; }

/*Submenu forms*/
.submenu { background-color: #fff; border-left: 1px solid #ccc; display: none; height: 100%; width: 20em; z-index: 1004; top: 0; right: 0; bottom: 0; left: auto; }

/*Account*/
.account { background-color: #fff; border: 1px solid #ccc; display: none; height: 20em; width: 20em; z-index: 1004; top: 50%; right: auto; bottom: auto; left: 50%; margin: -10em 0 0 -10em; }

/*Query results - slide out right*/
.data { background-color: #fff; border-left: 1px solid #ccc; display: none; height: 100%; width: 20em; max-width: 33%; z-index: 1003; top: 0; right: 0; bottom: 0; left: auto; }

/*Branding*/
.branding { background-color: transparent; border: none; display: block; height: 1.5em; width: 10em; z-index: 1004; top: auto; right: auto; bottom: .75em; left: 50%; margin: 0 0 0 -5em; }
    .branding h1 { color: rgba(0, 0, 0, 0.54); font-size: 90%; text-align: center; text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4); }

/*Leaflet overrides*/
.leaflet-container { font-size: 1em; cursor: auto; }

/*Google Material Icons*/
/*Sizing*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
/*Colors*/
.material-icons { background-color: transparent; }
    .material-icons.md-dark { color: rgba(0, 0, 0, 0.44); }
        .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
    .material-icons.md-light { color: rgba(255, 255, 255, 1); }
        .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
    .material-icons.orange600 { color: #FB8C00; }
    .material-icons.green600 { color: #43A047; }

@media (max-width: 700px) {
    .toolbar, .leaflet-control-attribution, .branding, .esri-leaflet-logo, .search-title { display: none; }
}
